language = "bash"
run = "cd programming/pre/8; javac *java; java Craps 8"

#"cd ds/arraylists; javac *java; java AlPractice"

#language = "bash"
#run = ""cd programming/pre/8; javac *java; java Craps 8""


#"cd programming/6/sa; javac *java; java SuperArrayDriver"